* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.primary-color {
  background: #4e47ff;
}
.primary-button {
  background: #4e47ff;
  border-radius: 10px;
  color: aliceblue;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.primary-button:hover{
    background-color: firebrick;
    transition: all .2s ease-out;

    
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.text-align {
  text-align: center;
}

/*Shared style*/

.head {
  background-image: url(../Assets/Hero-bg.png);
  width: 100%;
  height: 698px;
}
.nav-con {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.logo {
  font-size: 34px;
  font-weight: 800;
  color: #4e47ff;
  border: none;
}
.nav-but {
  border-radius: 10px;
  height: 55px;
  width: 155px;
  color: aliceblue;
  font-size: 16px;
  border: none;
}
/*hero style*/
.hero-con {
  width: 905px;
  margin: 0 auto;
  margin-top: 115px;
}
.hero-title {
  font-size: 65px;
  margin-bottom: 37px;
}

.hero-but {
  height: 55px;
  width: 160px;
}
/*hero-2*/
.hero-2-con{
    display: flex;
    justify-content: space-between;
    margin: 116px 250px;
    align-items: center;
}
.hero-2-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.hero-2-description{
    font-style: 24px;
    width: 517px;
    font-weight: lighter;
    margin-bottom: 23px;
}
.hero-2-but{
    height: 55px;
    width: 180px;
}
.hero-2-img img{
    border-radius: 40px;
}

/*user part*/

.user{
    background-color:#e5e7ff ;
    width: 1140px;
    height: 306px;
    border-radius: 24px;
    margin: 0 auto;
    box-sizing: border-box;
}
.user-con{
   /* padding: 50px 142px; */
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
}

.user-data{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
}
.active-user h1{
    color: #4e47ff;
    font-weight: bold;
    font-size: 80px;
}
.active-user p{
    padding-left: 20px;
    color: #9d9faf;
}
/*user comment part*/
.user-say{
  height: 342px;
  width: 1140px;
  
  margin: 0 auto;
}
.user-comment-con{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.user-comment{
  width: 366px;
  /* height: 245px; */
  /* background-color: #fafbff; */
  /* background-color: #d6002b; */
  padding: 24px;
  margin-top: 50px;
  margin-bottom: 137px;
  border-radius: 14px;
}

.icon-star{
  margin-bottom: 24px;
  margin-right: 4px;
}
.loved-designer{
  font-size:  22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.user-text{
  font-size: 18px;
  font-weight: lighter;
  width: 319px;
  margin-bottom: 24px;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-img{
  border-radius: 100Px;
  margin-right: 12px;
}
.reviewer{
  font-style: 20px;
  font-weight: lighter;
}
.date{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.511);
}

